$baseColor: #E1E2E1; 
$accentColor: #ff5f52; 

body {
    max-width: 1200px;
    margin: auto;
    header {
        h1 {
            text-align: center;
            font-size: 4vh;
        }
        nav {
            background-color: $baseColor;
            margin-bottom: 3em;
            padding: 2em;
            display: flex;
            justify-content: space-around;
            a, button {
                color:black;
                font-size: 3vh;
                text-decoration: none;
                &:hover {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
    #main {    
        background-color:$baseColor;
        .col-2 {
            display: grid;
            grid-template-columns: 60% 40%;
            table {
                td {
                    text-align: center;
                    border: solid 1px gray;
                }
            }
            #songDetails {
                margin: 10%;
            }
        }
        #opret-form, fieldset {
            max-width: 500px;
            margin:auto;
            padding:1em;
            box-sizing: border-box;
            label, input, textarea {
                display:block;
                width: 90%;
                margin:1em;
                padding:0.5em;
                font-size: 2vh;
            }
            select, button {
                display: block;
                padding:0.5em;
                margin:1em;
                width:90%;
            }
            
        }
    }
}




